
.container {
  Background: #D74254;
  background-image: linear-gradient(-180deg, #EA3E3E 0%, #4F0606 97%);
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;



  .cont-child5{
    @font-face { font-family: Buffalo Nickel; src: url('Buffalo_Nickel.ttf'); }
    h2 {
      font-family: Buffalo Nickel
    }
    text-align: center;
    font-size: 144px;
    transform: rotate(-16deg);
    color: white;


  }

   .cont-child8{
     @font-face { font-family: Calibri; src: url('calibri.ttf'); }
     @font-face { font-family: Buffalo Nickel; src: url('Buffalo_Nickel.ttf'); }
     h3 {
       font-family: Buffalo Nickel
     }
     h4 {
     font-family: calibri
   }
     text-align: center;
     color: #F18787;

   }

   .cont-child11{
      @font-face { font-family: Calibri; src: url('calibri.ttf'); }
      h6{
        font-family: Calibri-Regular
      }
    text-align:center;
     color: #F18787;

   }

  }

/* media queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}



/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
